
* {
	text-align: center;
}

@font-face {
	font-family: "UntoldHistory";
	src: url("../Fuentes/UntoldHistory/Untold_History.ttf") format("opentype");
}

@font-face {
	font-family: "BelanosimaSemiBold";
	src: url("../Fuentes/Belanosima/Belanosima_SemiBold.ttf") format("opentype");
}

body {
	background: #212529;
} 

h1, div div {
	color: whitesmoke;
}

span {
	color: #5D6D7E;
}

h1 {
	font-family: "BelanosimaSemiBold";	
	font-size: 3rem;
	margin: 3rem;
}

button {
	border-radius: 1rem;
	border: none;
	float: right;
	position: relative;
	bottom: 90px;
	right: 100px;
	cursor: pointer;
	background-color: whitesmoke;
}

button img {
	max-width: 30px;
}

div div {
	display: inline-block;
	margin-top: 1rem;
	margin: 5px;
	background-color: #343a40;
	padding: 2rem;
	width: 10rem;
	font-size: 1.5rem;
	border-radius: 1rem;
}

div div:hover {
	cursor: pointer;
	background: #495057;
}

h5 {
	font-family: "UntoldHistory";		
}