
* {
	text-align: center;
	font-family: Georgia;
}

body {
	background: #212529;
} 

h1, div div {
	color: white;
}

div div {
	display: inline-block;
}

h1 {
	font-size: 3rem;
	margin: 3rem;
}

div div {
	margin-top: 1rem;
	background: #343a40;
	padding: 2rem;
	width: 10rem;
	font-size: 1.5rem;
	border-radius: 1rem;
}

div div:hover {
	cursor: pointer;
	background: #495057;
}