<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Generador De Música</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='IMG/Logo.png') }}" type="image/x-icon">
</head>
<body>

	<h1>Generador De <span>Música</span></h1>
	<button id="botonColor">
		<img src="{{ url_for('static', filename='IMG/Icono_Color.png') }}" alt="Icono para cambiar color">
	</button>

	<br><br><br>
	<div id="contenedorSonido"></div>
	<script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>